# Gateway
GATEWAY_PORT=3000

# User Service
USER_SERVICE_PORT=3001
USER_DB_HOST=localhost
USER_DB_PORT=5433
USER_DB_NAME=users
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres

# Workout Service
WORKOUT_SERVICE_PORT=3002
WORKOUT_DB_HOST=localhost
WORKOUT_DB_PORT=5434
WORKOUT_DB_NAME=workouts
WORKOUT_DB_USER=postgres
WORKOUT_DB_PASSWORD=postgres

# AI Service
AI_SERVICE_PORT=3003
GIGACHAT_API_KEY=

# AI API KEYS
OPENAI_API_KEY=

# RabbitMQ
RABBIT_USER=guest
RABBIT_PASSWORD=guest 
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Bot
BOT_TOKEN=

# Jwt
JWT_SECRET=secret
JWT_EXPIRES_IN=86400

TYPESENSE_API_KEY=xyz
TYPESENSE_URL=http://localhost:8108
